@import '../../../css/flexbox.scss';

@mixin border-shim($color, $border-color: #dfdfdf) {
  &:after {
    content: " ";
    position: absolute;
    left: -1px; right: -1px;
    bottom: -2px;
    height: 5px;
    background-color: $color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    z-index: 1;
  }
}

.shelf-pane .container-flex-fill-wrap {
  background-color: white;
  border: 1px solid #dfdfdf;
}

.shelf-pane .container-flex-fill {
  @include flexbox;
  @include flex-flow(column);
  padding: 5px 6px;
}

.querybuilder-shelf {
  position: relative;
  @include flexbox;
  @include flex(1 1 0px);

  label {
    position: relative;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;

    i.fa.fa-times.remove-link {
      position: absolute;
      top: 0;
      right: 0;
      padding: 6px 5px 9px;
      display: none;
      cursor: pointer;
    }

    &:hover i.fa.fa-times.remove-link {
      display: block;
    }
  }

  .querybuilder-field-container-wrap {
    @include flex(1 0 auto);
    position: relative;
    overflow: hidden;

    &:hover {
      overflow: auto;
    }

    &:before {
      content: "Drop Fields Here";
      position: absolute;
      margin: 3px 6px;
      padding: 0px 6px;
      border: 1px dotted #dfdfdf;
      border-radius: 2px;
    }
  }

  .querybuilder-field-container {
    @include flexbox;
    @include flex-flow(row);

    position: absolute;
    padding: 3px 6px 3px;

    .field-position-marker {
      position: absolute;
      background-color: #58C153;
      top: 0px; bottom: 0px;
      margin-left: -4px;
      width: 2px;

      &:before,
      &:after {
        content: " ";
        position: absolute;
        left: -2px;
      }

      &:before {
        top: 0px;
        border-top: 3px solid #58C153;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
      }

      &:after {
        bottom: 0px;
        border-bottom: 3px solid #58C153;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
      }
    }
  }
}

.shelf-pane .querybuilder-shelf {
  margin-bottom: 15px;

  .querybuilder-shelf-legend {
    overflow: auto;
    max-height: 200px;
    padding: 8px 6px 0px;
  }

  @include flex-flow(column);
  @include flex(0 1 auto);

  label {
    @include flexbox;
    @include flex(0 1 auto);
    @include align-items(center);

    i.fa.fa-caret-down {
      @include align-self(center);
      position: relative;
      top: -3px;
      padding: 3px;
      margin-left: auto;
      visibility: hidden;
      cursor: pointer;
    }

    &:hover,
    &:focus {
      i.fa.fa-caret-down {
        visibility: visible;
      }
    }
  }

  .querybuilder-field-container-wrap {
    height: 23px;
    overflow: visible;

    &:before {
      content: "Drop Field Here";
      top: 0; bottom: 0; left: 0; right: 0;
      margin: 0;

    }
  }

  .querybuilder-field-container {
    top: 0; bottom: 0; left: 0; right: 0;
    padding: 0px;
  }

  .querybuilder-field.field-wrap {
    @include flex(0 1 auto);
    margin-right: 0;

    .name-wrap {
      max-width: none;
    }
  }
}

.shelf-pane label.tablebuilder-encoding-title {
  font-size: 1rem;
  margin-bottom: 10px;
}

.tablebuilder-type-select {
  @include flexbox;
  @include flex-flow(row);

  .tablebuilder-type-choice {
    @include flex(1 1 27px);
    position: relative;
    height: 29px;
    line-height: 29px;
    text-align: center;
    background-color: rgba(224, 224, 224, 0.5);
    border: 1px solid transparent;
    top: -1px;
    margin-top: 1px;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-right: 1px;
    }

    &.active,
    &:not(.active):hover,
    &:not(.active):focus {
      background-color: white;
      border: 1px solid #dfdfdf;
      border-bottom: 0;
      margin-top: 0px;
      top: 0px;
      @include border-shim(white);
    }

    i.fa.fa-bar-chart.fa-flip-vertical-rotate-90 {
      @include transform(rotate(90deg) scale(-0.8, 1.2));
    }
  }
}
