@import '../../../css/utilities.scss';

.public_fixedDataTable_header, .public_fixedDataTable_header .public_fixedDataTableCell_main {
  background-color: white;
  background-image: none;
}

.public_fixedDataTable_footer .public_fixedDataTableCell_main,
.public_fixedDataTableRow_highlighted, .public_fixedDataTableRow_highlighted .public_fixedDataTableCell_main {
  background-color: white;
}

.public_fixedDataTable_footer .public_fixedDataTableCell_main,
.public_fixedDataTableRow_fixedColumnsDivider,
.public_fixedDataTableCell_main {
  border-color: #dfdfdf;
}

.public_fixedDataTable_header .public_fixedDataTableCell_main {
  font-weight: initial;
}

.public_fixedDataTableRow_main.public_fixedDataTable_hasBottomBorder [data-reactid$=fixed_cells] .public_fixedDataTableCell_main,
.public_fixedDataTableRow_main .public_fixedDataTableCell_axis.public_fixedDataTableCell_main,
.table-no-footer .public_fixedDataTableRow_main .public_fixedDataTableCell_main,
.table-row-bottom-border .public_fixedDataTableRow_main .public_fixedDataTableCell_main
{
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.public_fixedDataTable_header .fixedDataTableCellLayout_wrap3 {
  vertical-align: bottom;
}

.public_fixedDataTableCell_axis .fixedDataTableCellLayout_wrap3,
.public_fixedDataTable_footer .fixedDataTableCellLayout_wrap3 {
  vertical-align: top;
}

.public_fixedDataTableCell_cellContent {
  padding: 0px 4px;
}

.public_fixedDataTable_main,
.table-no-header .public_fixedDataTable_header,
.public_fixedDataTable_hasBottomBorder,
.public_fixedDataTableRow_fixedColumnsDivider {
  border: none;
}

.public_fixedDataTable_header .public_fixedDataTableCell_main,
.public_fixedDataTable_header .public_fixedDataTableRow_fixedColumnsDivider,
.public_fixedDataTable_footer .public_fixedDataTableRow_fixedColumnsDivider,
.public_fixedDataTable_footer .fixedDataTableCellLayout_main.public_fixedDataTableCell_main {
  border-left: none;
  border-right: none;
  border-top: none;
}

.public_fixedDataTable_footer .public_fixedDataTableRow_fixedColumnsDivider,
.public_fixedDataTable_footer .fixedDataTableCellLayout_main.public_fixedDataTableCell_main {
  border-bottom: none;
}

.public_fixedDataTable_header .public_fixedDataTableCell_main {
  text-align: left;
  @include overflow-ellipsis;
}

.public_fixedDataTable_header [data-reactid$=fixed_cells] .public_fixedDataTableCell_main {
  text-align: left;
}

.public_fixedDataTableCell_main:not(.public_fixedDataTableCell_axis) .table-row-label.public_fixedDataTableCell_cellContent {
  text-align: right;
  @include overflow-ellipsis;
}